/* GOOGLE FONT STYLE LINK */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");

/* GLOBAL STYLE CSS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
:root {
  --main-color: rgb(2, 71, 2);
  --border: 0.1rem solid rgb(58, 136, 7);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.1s linear;
}

html {
  font-family: "Poppins", sans-serif;

  font-size: 85%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: rgb(223, 241, 233);
}

section {
  padding: 2rem 7%;
}

button {
  all: unset;
  cursor: pointer;
  transition: all 200ms;
}

.heading {
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  letter-spacing: 0.1rem;
}

/* GLOBAL FLIP CARD XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.flip-card {
  background-color: transparent;
  width: 100%;

  height: 20.3rem;
  border: 2px solid black;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: red;
}

.flip-card-back {
  background-color: var(--main-color);
  color: white;
  transform: rotateY(180deg);
}

/* header section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  border-bottom: var(--border);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .logo span {
  color: black;
}

.header .navBar a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: black;

  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.header .navBar :after {
  content: "";
  height: 3px;
  width: 0;
  background: orangered;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.header .navBar a:hover::after {
  width: 100%;
}

.header .icons i {
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.header .icons i span {
  background-color: red;
  border-radius: 10%;
  font-size: 1rem;
  width: 5rem;
  height: 1rem;

  color: #fff;
}

.header .icons i:hover {
  color: orangered;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 45rem;
  height: 4rem;

  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  color: black;
}

.header .search-form label:hover {
  color: orangered;
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #94bb94;
  padding: 0 1.5rem;
}

.header .cart-items-container .cart-title {
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  margin-top: 1rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: black;
}

.header .cart-items-container .cart-item img {
  height: 6.5rem;
  object-fit: cover;
  width: 6.5rem;
}

.header .cart-items-container .cart-item .content .cart-product-title {
  font-size: 2rem;
  color: black;
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .cart-price {
  font-size: 1.5rem;
  color: black;
}

.header .cart-items-container .cart-item .content .cart-quantity {
  border: var(--border);
  width: 3.2rem;
  text-align: center;
  font-size: 1rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.header .cart-items-container .total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: var(--border);
}

.header .cart-items-container .total .total-title {
  font-size: 2rem;
  font-weight: 600;
}

.header .cart-items-container .total .total-price {
  margin-left: 2rem;
  font-size: 2rem;
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

/* navBar section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* home section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.home {
  min-height: 100vh;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)),
    url(images/bg-1.png);

  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}
.home .content p {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

/* home section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* about section starts XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.about .slideshow-container {
  position: relative;
  margin: auto;
}

.about .mySlides {
  display: none;
}

.about .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.about .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.about .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.about .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5.6s ease;
}

.about .active,
.dot:hover {
  background-color: #717171;
}

.about .fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.about .row {
  display: flex;
  align-items: center;
  background: rgb(69, 110, 94);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.3rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.about .row .content .tab-titles {
  display: flex;
}

.about .row .content .tab-links {
  margin-right: 7rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bolder;

  cursor: pointer;
  position: relative;
}

.about .row .content .tab-links::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  transition: 0.5s;
}

.about .row .content .tab-links.active-link::after {
  width: 50%;
}

.about .row .content .tab-contents ul li {
  list-style: none;
  color: #ccc;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.about .row .content .tab-contents ul li span {
  color: var(--main-color);
  font-size: 1rem;
}

.about .row .content .tab-contents {
  display: none;
}

.about .row .content .tab-contents.active-tab {
  display: block;
}

/* about section end XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* menu section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.menu .box-container .box img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.menu .box-container .box h3 {
  color: black;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: black;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box:hover {
  background: #94bb94;
}

.menu .box-container .box:hover > * {
  color: black;
}

/* menu section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* product section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 5rem;
}

.products .box-container .box a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: black;
}

.products .box-container .box a:hover {
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.products .box-container .box .btn-heart.active {
  color: red;
}

.products .box-container .box .btn-eye.active {
  color: orange;
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.products .box-container .box .content h3 {
  color: black;
  font-size: 2rem;
}

.products .box-container .box .content .stars {
  padding: 1.5rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: orange;
}

.products .box-container .box .content .price {
  color: black;
  font-size: 2.5rem;
}

/* products section end XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* review section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #777474;
  padding: 2rem 0;
}

.review .box-container .box .quote {
  font-size: 8rem;
  padding-bottom: 3rem;
  color: #d6cd4e;
}

.review .box-container .box .user {
  height: 15rem;
  width: 15rem;
  border-radius: 30%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: black;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: orange;
}

/* review section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* contact section starts XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.contact .row {
  display: flex;

  background-color: rgb(69, 110, 103);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(123, 146, 123);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

/* contact section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* blogs section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.5);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: black;
}

.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #777474;
  padding: 1rem 0;
}

.blogs .box-container .box .content .button1:hover {
  background: none;
  color: var(--main-color);
  border: var(--border);
}

/* blogs section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* footer section start XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.footer {
  background: #777474;
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--main-color);
  font-size: 2rem;
}

.footer .links a:hover {
  background-color: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

/* footer section ends XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* media queries XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (max-width: 1036px) {
  html {
    font-size: 69%;
  }

  .header {
    padding: 2rem 4rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 778px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navBar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--main-color);
    width: 20rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navBar.active {
    right: 0;
  }

  .header .navBar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 490px) {
  html {
    font-size: 45%;
  }
}
